.App {
  text-align: center;
}

.customer-service {
  display: flex;
  text-align: center;
  margin: 25px;
  padding: 25px;
  border-top: 1px solid black;
}

.guarantee {
  margin: 50px;
  padding: 10px;
}

.counter {
  margin: 25px;
  padding: 25px;
  border-top: 1px solid black;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: rgb(97, 148, 97);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
